In [1]:
import pandas as pd

In [2]:
from pathlib import Path

data = Path('../data')

In [3]:
centroids = pd.read_csv(data / 'country_centroids.csv')

In [4]:
centroids

,longitude,latitude,COUNTRY,ISO,COUNTRYAFF,AFF_ISO
0,-170.700732,-14.305712,American Samoa,AS,United States,US
1,166.638003,19.302046,United States Minor Outlying Islands,UM,United States,US
2,-159.787689,-21.222613,Cook Islands,CK,New Zealand,NZ
3,-149.400417,-17.674684,French Polynesia,PF,France,FR
4,-169.868781,-19.052309,Niue,NU,New Zealand,NZ
...,...,...,...,...,...,...
244,145.741197,15.178064,Northern Mariana Islands,MP,United States,US
245,134.579651,7.534776,Palau,PW,Palau,PW
246,98.670499,59.039434,Russian Federation,RU,Russian Federation,RU
247,-3.651625,40.365008,Spain,ES,Spain,ES
248,-16.537994,28.297665,Canarias,ES,Spain,ES

In [5]:
# list of all countries sorted in alphabetical order
centroids["COUNTRY"].sort_values()

191          Afghanistan
163              Albania
124              Algeria
0         American Samoa
153              Andorra
             ...
231              Vietnam
9      Wallis and Futuna
207                Yemen
113               Zambia
114             Zimbabwe
Name: COUNTRY, Length: 249, dtype: object

In [8]:
centroids[centroids["COUNTRY"].str.contains("Kyrgyzstan")]

     longitude   latitude     COUNTRY ISO  COUNTRYAFF AFF_ISO
211  74.175329  41.356989  Kyrgyzstan  KG  Kyrgyzstan      KG

In [7]:
# print is there is a COUNTRY=="Belize"

# Print the names of the COUNTRYAFF who have more than 1 COUNTRY, along with their COUNTRY (groupby)
affiliations = centroids[["COUNTRYAFF", "COUNTRY"]].groupby("COUNTRYAFF").filter(lambda x: len(x) > 1).sort_values("COUNTRYAFF")
affiliations['COUNTRYAFF'].unique()

array(['Australia', 'Denmark', 'France', 'Netherlands', 'New Zealand',
       'Norway', 'Spain', 'United Kingdom', 'United States'], dtype=object)

In [7]:
affiliations[affiliations["COUNTRYAFF"] == "Kyrgyzstan"]

NameError: name 'affiliations' is not defined