%pip install deep_translator
%pip install country_converter
%pip install geopy
%pip install dask

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path
data = Path("../data")
plot_path = data / "plots"
map_path = data / "graph3_map"
geojson_path = map_path / "geojson"

# Users

302,673 unique users, 55,280 unique location strings

In [2]:
users = pd.read_csv(data / "UserList.csv")
print("Number of unique users: {:,}".format(users["user_id"].nunique()))
print("Number of unique locations: {:,}".format(users["location"].nunique()))
users

Number of unique users: 302,673
Number of unique locations: 55,280

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes
0,karthiga,2255153,3,49,1,0,0,55.31,Female,"Chennai, India",1990-04-29,NaN,2013-03-03,2014-02-04 01:32:00,7.43,0.0,3391.0
1,RedvelvetDaisuki,1897606,61,396,39,0,206,118.07,Female,Manila,1995-01-01,NaN,2012-12-13,1900-05-13 02:47:00,6.78,80.0,7094.0
2,Damonashu,37326,45,195,27,25,59,83.70,Male,"Detroit,Michigan",1991-08-01,NaN,2008-02-13,1900-03-24 12:48:00,6.15,6.0,4936.0
3,bskai,228342,25,414,2,5,11,167.16,Male,"Nayarit, Mexico",1990-12-14,NaN,2009-08-31,2014-05-12 16:35:00,8.27,1.0,10081.0
4,shuzzable,2347781,36,72,16,2,25,35.48,NaN,NaN,NaN,NaN,2013-03-25,2015-09-09 21:54:00,9.06,7.0,2154.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302670,ScruffyPuffy,3119025,0,27,0,0,0,7.92,NaN,NaN,NaN,NaN,2013-09-06,2014-10-10 09:04:00,0.00,0.0,477.0
302671,Torasori,3975907,22,239,0,4,176,86.88,Male,"Latvia, Riga",1998-11-18,NaN,2014-07-30,2018-05-24 21:34:46,8.98,47.0,5313.0
302672,onpc,1268417,5,169,2,5,24,38.36,Male,NaN,NaN,NaN,2012-04-23,2016-12-28 14:35:00,7.72,0.0,2280.0
302673,HMicca,1289601,11,73,2,2,16,119.97,Female,"Birmingham, England",1995-08-12,NaN,2012-05-05,2012-11-15 08:10:00,8.89,11.0,7049.0
302674,mini_kaila,236339,2,10,5,3,5,4.17,Female,NaN,NaN,NaN,2009-09-19,2011-08-19 01:15:00,7.82,0.0,245.0

# Prepare data for country EDA

##¬†Remove the rows with null location and strip all locations

- 302,673 users -> 156,774 users (-48%)
- 55,280 locations -> 53,762 locations (-3%)

In [3]:
# Keep users with non-null location
users = users[users["location"].notnull()]

# strip all locations
users.loc[:, "location"] = users.loc[:, "location"].str.strip()

print("Number of unique users: {:,}".format(users["user_id"].nunique()))
print("Number of unique locations: {:,}".format(users["location"].nunique()))

Number of unique users: 156,774
Number of unique locations: 53,762

/tmp/ipykernel_7956/1065557805.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users.loc[:, "location"] = users.loc[:, "location"].str.strip()

## Map location strings to country names

In [4]:
from functools import partial
from geopy.geocoders import Nominatim
from deep_translator import GoogleTranslator

import country_converter as coco

coco.logging.getLogger().setLevel(coco.logging.ERROR)

translator = GoogleTranslator(source="auto", target="en")
geolocator = Nominatim(user_agent="GoogleV3")
geocode = partial(geolocator.geocode, language="en")


def findCountry(location):
    if location.isdigit():
        print(location, "(is digit)")
        return ""

    try:
        result = geocode(location, timeout=5)
    except:
        print(location, "(geocode)")
        return ""
    if result is not None:
        country = result.address.split(",")[-1].strip()
        return country

    country = coco.convert(names=location, to="name_short")
    if country != "not found":
        return country

    translated = translator.translate(location)
    if translated is None:
        print(location, "(translation not found)")
        return ""
    if translated == location:
        print(location, "(not found)")
        return ""

    try:
        result = geocode(translated, timeout=5)
    except:
        print(location, "->", translated, "(geocode)")
        return ""
    if result is not None:
        country = result.address.split(",")[-1].strip()
        return country

    country = coco.convert(names=translated, to="name_short")
    if country != "not found":
        return country
    print(location, "->", translated, "(not found)")
    return ""

import time
import pickle

locations = users["location"].unique()
countries = []

start = time.time()
for i, location in enumerate(locations):
    if i % 500 == 0 :
        elapsed = time.time() - start
        print("="*20, "i =", i, "({:.2f}s)".format(elapsed), "="*20)
    countries.append(findCountry(str(location)))

with open(map_path / "countries.pickle", "wb") as f:
    pickle.dump(countries, f)

location_to_country = dict(zip(locations, countries))
with open(map_path / "location_to_country.pickle", "wb") as handle:
    pickle.dump(location_to_country, handle, protocol=pickle.HIGHEST_PROTOCOL)

assert len(location_to_country) == len(locations)

with open(map_path / "location_to_country.pickle", "rb") as f:
    location_to_country = pickle.load(f)
location_to_country, len(location_to_country)

df_location_country = pd.DataFrame.from_dict(
    location_to_country, orient="index", columns=["country"]
)
df_location_country.index.name = "location"
df_location_country = df_location_country.reset_index()
# Some locations are mapped to a list of countries
df_location_country.country = df_location_country.country.apply(lambda x: str(x))
df_location_country.to_csv(map_path / "location_to_country.csv", index=False)

df_location_country

df_ltc_sorted = pd.read_csv(map_path / "location_to_country.csv")
# Sort the countries alphabetically, and then sort the locations alphabetically
df_ltc_sorted.sort_values(["country", "location"], ascending=[True, True]
df_ltc_sorted.to_csv(map_path / "location_to_country_sorted.csv", index=False)

df_ltc_sorted

## Cleaning locations

- Fix some locations who were mapped to an incorrect country

##¬†Merge with users dataset

In [5]:
df_ltc_clean = pd.read_csv(map_path / "location_to_country_clean.csv")
#¬†Transform df_ltc_clean to a dictionary with key "location" and value "country"
dict_ltc_clean = df_ltc_clean.set_index("location").to_dict()["country"]
dict_ltc_clean

{'Afghan': 'Afghanistan',
 'Albania': 'Albania',
 'Albania / Tirana': 'Albania',
 'Albania, Tirana': 'Albania',
 'Albania,Tirana': 'Albania',
 'Durres': 'Albania',
 'Durres, Albania': 'Albania',
 'Kavaje, Albania': 'Albania',
 'Tirana , Albania': 'Albania',
 'Tirana, Albania': 'Albania',
 'Vlore, Albania': 'Albania',
 'tirana,Albania': 'Albania',
 'tirane': 'Albania',
 'ALG': 'Algeria',
 'ALGERIA/BMR': 'Algeria',
 'ANNABA': 'Algeria',
 'Alger,Algeria': 'Algeria',
 'Algeria': 'Algeria',
 'Algeria ,Chlef': 'Algeria',
 'Algeria, Alger': 'Algeria',
 'Algeria, Algiers': 'Algeria',
 'Algeria, Chlef': 'Algeria',
 'Algeria,Barika': 'Algeria',
 'Algeria,Setif': 'Algeria',
 'Algeria-mascara': 'Algeria',
 'Algeria/Tebessa/Cheria': 'Algeria',
 'Algeria_Batna_Bou Zoran': 'Algeria',
 'Algiers': 'Algeria',
 'Algiers, Algeria': 'Algeria',
 'Alg√©rie,Jijel': 'Algeria',
 'Annaba': 'Algeria',
 'Annaba, Algeria': 'Algeria',
 'Annaba, algeria': 'Algeria',
 'Batna': 'Algeria',
 'Batna,Algeria': 'Algeria',
 'Bejaia, Algeria': 'Algeria',
 'Beni amrane, Boumerdes': 'Algeria',
 'Blida;Algier': 'Algeria',
 'Bouira , Algeria': 'Algeria',
 'Collo, Skikda': 'Algeria',
 'Constantine': 'Algeria',
 'Constantine, Algeria': 'Algeria',
 'Constantine, Algeria.': 'Algeria',
 'Djelfa': 'Algeria',
 'Dz': 'Algeria',
 'Hassi-Bahbah': 'Algeria',
 'Laziville': 'Algeria',
 'Mostaganem, Algeria': 'Algeria',
 'Msila, Algeria': 'Algeria',
 'Oran': 'Algeria',
 'Oran, Algeria': 'Algeria',
 'Oran,Algeria': 'Algeria',
 'Oran-Algaria': 'Algeria',
 'PO, WA': 'Algeria',
 'Setif , Algeria': 'Algeria',
 'Sidi Bel Abbes': 'Algeria',
 'Tebessa,Algeria': 'Algeria',
 'Tlemcen': 'Algeria',
 'Tlemcen,Algeria': 'Algeria',
 'ain defla , Algeria': 'Algeria',
 'alger': 'Algeria',
 'alger, algeria': 'Algeria',
 'algeria': 'Algeria',
 'algeria setif': 'Algeria',
 'algeria, alger': 'Algeria',
 'algiers': 'Algeria',
 'alg√©rie,tindouf': 'Algeria',
 'bendada,souk ahras': 'Algeria',
 'biskra': 'Algeria',
 'khanchela ,algeria': 'Algeria',
 'msila.algeria': 'Algeria',
 'sidi bel-abbes , algeria': 'Algeria',
 'skikda algeria': 'Algeria',
 'AD': 'Andorra',
 'Andorra': 'Andorra',
 'Benguela, Angola': 'Angola',
 'Calemba II, Luanda': 'Angola',
 'Luanda': 'Angola',
 'Luanda , Angola': 'Angola',
 'Luanda, Angola': 'Angola',
 'luanda, Angola': 'Angola',
 'luanda. angola': 'Angola',
 'Anguilla': 'Anguilla',
 'A hole, Antartica': 'Antarctica',
 'Antarctic': 'Antarctica',
 'Antarctica': 'Antarctica',
 'Antarctica with the Polar Bears!': 'Antarctica',
 'Antarctica, Himalaya': 'Antarctica',
 'Antarctique': 'Antarctica',
 'Antartica': 'Antarctica',
 'Antartida': 'Antarctica',
 'Cookieland Antarctica': 'Antarctica',
 'Elephant Island, Antarctica': 'Antarctica',
 'Lake Vostok, Antarctica': 'Antarctica',
 'Neuschwabenland': 'Antarctica',
 'Northern Antarctica': 'Antarctica',
 'Penguin Island, Antartica': 'Antarctica',
 'Penguin Town, Antarctica': 'Antarctica',
 'Penguinopolis, Antarctica': 'Antarctica',
 'Shackleton Hut': 'Antarctica',
 'South Pole, Antarctica': 'Antarctica',
 'South Pole, Antartica': 'Antarctica',
 'Southern most reaches of Antacrtica': 'Antarctica',
 'Svea, Antarctica': 'Antarctica',
 'The Abyssal Plane, Antarctica': 'Antarctica',
 'The antartic': 'Antarctica',
 'Tropical beaches of Antartica': 'Antarctica',
 'antarctica': 'Antarctica',
 'antartica': 'Antarctica',
 'in antartica': 'Antarctica',
 'weeaboo hell, antarctica': 'Antarctica',
 '–í–µ–ª–∏–∫–∏–µ –õ—É–∫–∏, –ü—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª': 'Antarctica',
 '„ÉªÔæü‚ú® üå∏ Antarctica üå∏ ‚ú®„ÉªÔæü': 'Antarctica',
 'Antigua': 'Antigua and Barbuda',
 'Antigua , St.Georges': 'Antigua and Barbuda',
 "St. John's, Antigua": 'Antigua and Barbuda',
 'St. Johns. Antigua': 'Antigua and Barbuda',
 '.ar': 'Argentina',
 '9 de julio,buenos aires, argentina, sudamerica': 'Argentina',
 'AR': 'Argentina',
 'ARGENTINA, CORDOBA': 'Argentina',
 'Abaetetuba, Par√°': 'Argentina',
 'Adrogu√©, Buenos Aires': 'Argentina',
 'Antarctica, Argentina': 'Argentina',
 'Argenitina': 'Argentina',
 'Argentina': 'Argentina',
 'Argentina , Buenos Aires': 'Argentina',
 'Argentina , Santa Fe': 'Argentina',
 'Argentina - Buenos Aires': 'Argentina',
 'Argentina BsAs': 'Argentina',
 'Argentina Buenos Aires': 'Argentina',
 'Argentina Buenos aires': 'Argentina',
 'Argentina,  Bs As': 'Argentina',
 'Argentina, Buenos Aires': 'Argentina',
 'Argentina, Buenos Aires,  La Plata': 'Argentina',
 'Argentina, Buenos Aires, Capital Federal': 'Argentina',
 'Argentina, Buenos Aires, Madariaga': 'Argentina',
 'Argentina, Buenos Aires, Tandil': 'Argentina',
 'Argentina, Buenos aires': 'Argentina',
 'Argentina, Cordoba': 'Argentina',
 'Argentina, Entre R√≠os': 'Argentina',
 'Argentina, La Pampa': 'Argentina',
 'Argentina, MdQ': 'Argentina',
 'Argentina, Mendoza': 'Argentina',
 'Argentina, Pueblito Irrelevante': 'Argentina',
 'Argentina, Quilmes': 'Argentina',
 'Argentina, Santa Fe': 'Argentina',
 'Argentina, mar del plata': 'Argentina',
 'Argentina,Buenos Aires': 'Argentina',
 'Argentina.': 'Argentina',
 'Argentina. Buenos Aires': 'Argentina',
 'Argetina': 'Argentina',
 'Arroyo Seco, Santa Fe, Argentina': 'Argentina',
 'Aruzenchin': 'Argentina',
 'Avellaneda, Buenos Aires': 'Argentina',
 'B.Aires, Arg': 'Argentina',
 'BS AS': 'Argentina',
 'Bah√≠a Blanca, Argentina': 'Argentina',
 'Banfield, Buenos Aires': 'Argentina',
 'Bariloche': 'Argentina',
 'Bariloche, Argentina': 'Argentina',
 'Bariloche, Rio Negro': 'Argentina',
 'Beautiful Argentina': 'Argentina',
 'Bella Vista, San Miguel': 'Argentina',
 'Berazategui': 'Argentina',
 'Brandsen, Buenos Aires, Argentina': 'Argentina',
 'Bs As': 'Argentina',
 'Bs As , Argentina': 'Argentina',
 'Bs As, Argentina': 'Argentina',
 'Bs As/MDP': 'Argentina',
 'Bs. As. Provincia 111': 'Argentina',
 'Bs. As., Argentina': 'Argentina',
 'Bs.Aires': 'Argentina',
 'Bs.As. Argentina': 'Argentina',
 'Bs.As., Argentina': 'Argentina',
 'Buanos Aires, Argentina': 'Argentina',
 'Buenos Aire, Argentina': 'Argentina',
 'Buenos Aires': 'Argentina',
 'Buenos Aires , Argentian': 'Argentina',
 'Buenos Aires , Argentina': 'Argentina',
 'Buenos Aires , La Plata': 'Argentina',
 'Buenos Aires - Argenina': 'Argentina',
 'Buenos Aires - Argentina': 'Argentina',
 'Buenos Aires Argentina': 'Argentina',
 'Buenos Aires City,Argentina': 'Argentina',
 'Buenos Aires, Argentina': 'Argentina',
 'Buenos Aires, Argentina ‚ô•': 'Argentina',
 'Buenos Aires, Argentina.': 'Argentina',
 'Buenos Aires, Buenos Aires': 'Argentina',
 'Buenos Aires, Buenos Aires, Argentina': 'Argentina',
 'Buenos Aires, Cap. Fed.': 'Argentina',
 'Buenos Aires, Capital Federal': 'Argentina',
 'Buenos Aires,Argentina': 'Argentina',
 'Buenos Aires-Argentina': 'Argentina',
 'Buenos Aires.': 'Argentina',
 'Buenos Aires. Argentina': 'Argentina',
 'Buenos Ayres, Argentina': 'Argentina',
 'Buenos aires': 'Argentina',
 'Buenos aires, Argentina': 'Argentina',
 'Buenos aires,Argentina': 'Argentina',
 'C.A.B.A, Argentina': 'Argentina',
 'CABA': 'Argentina',
 'CABA, Argentina': 'Argentina',
 'Campana, Buenos Aires': 'Argentina',
 'Campana, Buenos Aires, Argentina.': 'Argentina',
 'Cap. Fed, Buenos Aires': 'Argentina',
 'Capital Federal, Argentina': 'Argentina',
 'Capital Federal, Buenos Aires': 'Argentina',
 'Capital Federal, Buenos Aires, Argentina': 'Argentina',
 'Capital Federal. Buenos Aires.': 'Argentina',
 'Capital federal , Buenos aires , Argentina': 'Argentina',
 'Caseros.': 'Argentina',
 'Catamarca': 'Argentina',
 'Catamarca - Argentina': 'Argentina',
 'Catamarca, Argentina': 'Argentina',
 'Cba Arg': 'Argentina',
 'Cdad. Madero, Buenos Aires': 'Argentina',
 'Chaco': 'Argentina',
 'Chaco, Argentina': 'Argentina',
 'Chubut, Argentina': 'Argentina',
 'Cipolletti, Argentina': 'Argentina',
 'Ciudad Autonoma de Buenos Aires': 'Argentina',
 'Ciudad Aut√≥noma de Buenos Aires': 'Argentina',
 'Claypole,Argentina': 'Argentina',
 'Colonia Caroya, Cordoba, Argentina': 'Argentina',
 'Comodoro Rivadavia, Chubut': 'Argentina',
 'Concordia, Entre Rios': 'Argentina',
 'Cordoba': 'Argentina',
 'Cordoba Argentina': 'Argentina',
 'Cordoba Capital': 'Argentina',
 'Cordoba Capital, Argentina': 'Argentina',
 'Cordoba, Argentina': 'Argentina',
 'Coronel Suarez, Argentina': 'Argentina',
 'Corrientes, Argentina': 'Argentina',
 'Crespo, Entre R√≠os, Argentina': 'Argentina',
 'Cueca': 'Argentina',
 'Cutral C√≥, Neuqu√©n': 'Argentina',
 'Cyberia': 'Argentina',
 'C√≥rdoba': 'Argentina',
 'C√≥rdoba argentina': 'Argentina',
 'C√≥rdoba, Argentina': 'Argentina',
 'C√≥rdoba, ESP': 'Argentina',
 'C√≥rdoba,Argentina': 'Argentina',
 'Dirty undergrounds of the Third World, Argentina': 'Argentina',
 'Don Torcuato, Buenos Aires': 'Argentina',
 'El Palomar, Buenos Aires, Argentina': 'Argentina',
 'El mundo de los sue√±os': 'Argentina',
 'En mi casa': 'Argentina',
 'Entre Rios, Federacion': 'Argentina',
 'Entre R√≠os': 'Argentina',
 'Entre R√≠os, Argentina': 'Argentina',
 'Formosa , Argentina': 'Argentina',
 'Formosa, Argentina': 'Argentina',
 'Formosa.Argentina': 'Argentina',
 'Friuli': 'Argentina',
 'General Pico, La Pampa, Argentina': 'Argentina',
 'General roca, Rio negro': 'Argentina',
 'Grand Bourg, Buenos Aires, Argentina': 'Argentina',
 'Haedo, Buenos Aires': 'Argentina',
 "Hero's City": 'Argentina',
 'Hurlingham, Buenos Aires': 'Argentina',
 'Hurlingham, Buenos Aires, Argentina': 'Argentina',
 'Iguaz√∫, Argentina': 'Argentina',
 'Islas del Destino': 'Argentina',
 'Ituzaingo': 'Argentina',
 'Jujuy': 'Argentina',
 'Jujuy Argentina': 'Argentina',
 'Jujuy, Argentina': 'Argentina',
 'Kepler 22-b': 'Argentina',
 'La Plata': 'Argentina',
 'La Plata, Argentina': 'Argentina',
 'La Plata, Buenos Aires': 'Argentina',
 'La plata': 'Argentina',
 'Lanus, Argentina': 'Argentina',
 'Lanus, Buenos Aires': 'Argentina',
 'Lan√∫s, Buenos Aires': 'Argentina',
 'Larnaca, cyprus': 'Argentina',
 'Lomas de Zamora': 'Argentina',
 'Lomas de Zamora , Buenos Aires': 'Argentina',
 'Lomas de Zamora, Buenos Aires': 'Argentina',
 'Longchamps, Buenos Aires': 'Argentina',
 'Malarg√ºe': 'Argentina',
 'Mar Del Plata': 'Argentina',
 'Mar del Plata': 'Argentina',
 'Mar del Plata, Argentina': 'Argentina',
 'Mar del Plata, Argentina.': 'Argentina',
 'Mar del Plata, Buenos Aires': 'Argentina',
 'Mar del Plata, Buenos Aires, Argentina': 'Argentina',
 'Mar del plata, Argentina': 'Argentina',
 'Mendoza': 'Argentina',
 'Mendoza - Argentina': 'Argentina',
 'Mendoza, ARG': 'Argentina',
 'Mendoza, Argentina': 'Argentina',
 'Mendoza-Argentina': 'Argentina',
 'Merlo, Buenos Aires, Argentina': 'Argentina',
 'Misiones, Argentina': 'Argentina',
 'Misiones,Argentina': 'Argentina',
 'Monte Grande, Bs As': 'Argentina',
 'Monte Grande, Buenos Aires': 'Argentina',
 'Moreno, Buenos Aires, Argentina': 'Argentina',
 'Necochea, Argentina': 'Argentina',
 'Necochea, Buenos Aires': 'Argentina',
 'Neuquen, Argentina': 'Argentina',
 'Neuquen, Neuquen': 'Argentina',
 'Neuqu√©n, Argentina': 'Argentina',
 'Okilandia (Somewhere in my mind), BA, Argentina': 'Argentina',
 'Pablo Podesta': 'Argentina',
 'Paran√°, Entre R√≠os, Agentina': 'Argentina',
 'Paran√°, Entre R√≠os, Argentina': 'Argentina',
 'Patagonia Argentina': 'Argentina',
 'Patagonia, Argentina': 'Argentina',
 'Posadas': 'Argentina',
 'Posadas Misiones Argentina': 'Argentina',
 'Puerto Madryn, Chubut': 'Argentina',
 'Puerto Madryn,Chubut,Argentina': 'Argentina',
 'Punta Alta, Buenos Aires': 'Argentina',
 'Quilmes': 'Argentina',
 'Quilmes, Buenos Aires': 'Argentina',
 'Quilmes, Buenos Aires, Argentina': 'Argentina',
 'Resistencia, Chaco': 'Argentina',
 'Rio Cuarto, Cordoba': 'Argentina',
 'Rio Cuarto, Cordoba, Argentina': 'Argentina',
 'Rio Gallegos': 'Argentina',
 'Rio de Janeiro u-u': 'Argentina',
 'Rojas - Bs As': 'Argentina',
 'Rojas, Buenos Aires': 'Argentina',
 'Rosario': 'Argentina',
 'Rosario, Argentina': 'Argentina',
 'Rosario, Santa Fe, Argentina': 'Argentina',
 'R√≠o Gallegos': 'Argentina',
 'R√≠o Negro, Argentina': 'Argentina',
 'S.C. de Bariloche, Argentina': 'Argentina',
 'Salta, Argentina': 'Argentina',
 'Salta,Argentina': 'Argentina',
 'San Cristobal de La Laguna, Tenerife': 'Argentina',
 'San Isidro, Buenos Aires': 'Argentina',
 'San Juan Argentina': 'Argentina',
 'San Juan, Argentina': 'Argentina',
 'San Luis': 'Argentina',
 'San Luis, Argentina': 'Argentina',
 'San Nicol√°s, Buenos Aires, Argentina.': 'Argentina',
 'San Telmo , Buenos Aires': 'Argentina',
 'San isidro, Buenos Aires': 'Argentina',
 'San pedro, Buenos Aires': 'Argentina',
 'Santa -fe, Argentina': 'Argentina',
 'Santa Cruz, Argentina': 'Argentina',
 'Santa Fe - Argentina': 'Argentina',
 'Santa Fe, Argentina': 'Argentina',
 'Santa Fe, Argentina.': 'Argentina',
 'Santa fe, Argentina': 'Argentina',
 'Santiago del Estero, Argentina': 'Argentina',
 'Some place in Argentina.': 'Argentina',
 'Tandil, Argentina': 'Argentina',
 'Tandil, Buenos Aires, Argentina.': 'Argentina',
 'Tierra del Fuego, Argentina': 'Argentina',
 'Tierra del Fuego, Argentina.': 'Argentina',
 'Tierra del Fuego, Ushuaia': 'Argentina',
 'Tomoeda (~Ôø£‚ñΩÔø£)~ Argentina': 'Argentina',
 'Trelew': 'Argentina',
 'Tucuman': 'Argentina',
 'Tucuman, Argentina': 'Argentina',
 'Tucum√°n, Argentina': 'Argentina',
 'Villa Carlos Paz': 'Argentina',
 'Villa Carlos Paz, Cordoba, Argentina': 'Argentina',
 'Villa Elisa Entre R√≠os Argentina': 'Argentina',
 'Villa La Angostura, Neuquen, Argentina': 'Argentina',
 'Villa Mar√≠a, C√≥rdoba': 'Argentina',
 'Villa Mercedes, San Luis': 'Argentina',
 'Villa Mercedes, San Luis, Argentina': 'Argentina',
 'Villa carlos paz': 'Argentina',
 'Zarate, Buenos Aires': 'Argentina',
 'Zarate, Buenos Aires, Argentina': 'Argentina',
 'Zona Norte': 'Argentina',
 'arg': 'Argentina',
 'argentina': 'Argentina',
 'argentina!': 'Argentina',
 'argentina, buenos aires': 'Argentina',
 'bariloche, argentina': 'Argentina',
 'buenos aires': 'Argentina',
 'buenos aires, argentina': 'Argentina',
 'capital federal': 'Argentina',
 'capital federal, buenos aires': 'Argentina',
 'general roca ,rio negro': 'Argentina',
 'la plata , Argentina': 'Argentina',
 'la rioja': 'Argentina',
 'valhala': 'Argentina',
 '„ÉΩ(;¬¥–î`)„Éé': 'Argentina',
 'üá¶üá∑': 'Argentina',
 'üåé, üá¶üá∑, üè†, üõå.': 'Argentina',
 'Armenia, Yerevan': 'Armenia',
 'Armenia,Yerevan': 'Armenia',
 'Yerevan': 'Armenia',
 'Yerevan, Armenia': 'Armenia',
 'Aruba': 'Aruba',
 'Aruba,Carribean islandsüá¶üáº': 'Aruba',
 'Noord, Aruba': 'Aruba',
 'Paradera, Aruba': 'Aruba',
 '#STRAYA': 'Australia',
 "'Straiya": 'Australia',
 "'Straya": 'Australia',
 "'straya": 'Australia',
 '----, Victoria, Australia': 'Australia',
 '.au': 'Australia',
 '1504th Dimension, Australian District, My dreams.': 'Australia',
 '33¬∞51‚Ä≤35.9‚Ä≥S 151¬∞12‚Ä≤40‚Ä≥E': 'Australia',
 'ACT': 'Australia',
 'ACT, Australia': 'Australia',
 'ADL, AUS': 'Australia',
 'AU': 'Australia',
 'AUS': 'Australia',
 'AUS,Sydney': 'Australia',
 'AUSTRALIA': 'Australia',
 'AUSTRALIA M8': 'Australia',
 'AUSTRALIA, Brisbane!': 'Australia',
 'AUSTRALIAAAA': 'Australia',
 'AUUUSTRALIA': 'Australia',
 'Adealide AKA the bottom of the gravity well': 'Australia',
 'Adelaide': 'Australia',
 'Adelaide south australia': 'Australia',
 'Adelaide, Australia': 'Australia',
 'Adelaide, Australia.': 'Australia',
 'Adelaide, SA': 'Australia',
 'Adelaide, South Aus': 'Australia',
 'Adelaide, South Australia': 'Australia',
 'Albany Creek, Brisbane': 'Australia',
 'Albany, Australia': 'Australia',
 'Albany, Western Australia': 'Australia',
 'Albury NSW Australia': 'Australia',
 'Albury, Australia': 'Australia',
 'AnImE FaNtaSy (Australia ;P )': 'Australia',
 'Angaston, South Australia': 'Australia',
 'Anglesea, Victoria': 'Australia',
 'Arkham Asylum': 'Australia',
 'Arkham City': 'Australia',
 'Armidale': 'Australia',
 'Armidale, New South Wales': 'Australia',
 'Ashfield, Sydney, NSW': 'Australia',
 'Astral Zero, Victoria, Australia': 'Australia',
 'At home in Australia': 'Australia',
 'At the computer, Australia': 'Australia',
 'Aus': 'Australia',
 'Aus, Melbourne': 'Australia',
 'Aussie': 'Australia',
 'Aussie Aussie Aussie': 'Australia',
 'Aussie Aussie Aussie Oy Oy Oy': 'Australia',
 'Aussie land': 'Australia',
 'Aussie!!': 'Australia',
 'Austalia': 'Australia',
 'Austalia,Lithgow': 'Australia',
 'Austraila': 'Australia',
 'Austraila/ Melboure': 'Australia',
 'Australia': 'Australia',
 'Australia #3775': 'Australia',
 'Australia (For now)': 'Australia',
 'Australia (you know that place that has kangaroos)': 'Australia',
 'Australia , Brisbane': 'Australia',
 'Australia , Perth': 'Australia',
 'Australia , Sydney': 'Australia',
 'Australia - Melbourne': 'Australia',
 'Australia - PERTH': 'Australia',
 'Australia :)': 'Australia',
 'Australia NSW': 'Australia',
 'Australia New South Wales': 'Australia',
 'Australia Sydney': 'Australia',
 'Australia Sydney NSW': 'Australia',
 'Australia Victoria Melbourne Richmond': 'Australia',
 'Australia W.A': 'Australia',
 'Australia WA': 'Australia',
 'Australia ^^': 'Australia',
 'Australia halfway through anime, manga, cat land :': 'Australia',
 'Australia somewhere': 'Australia',
 'Australia with my Kangaroo': 'Australia',
 'Australia | Victoria': 'Australia',
 'Australia üá¶üá∫': 'Australia',
 'Australia!': 'Australia',
 'Australia! Melbourne': 'Australia',
 'Australia, Adelaide': 'Australia',
 'Australia, Adeliade': 'Australia',
 'Australia, Brisbane': 'Australia',
 'Australia, Canberra': 'Australia',
 'Australia, Central Coast': 'Australia',
 'Australia, Earth': 'Australia',
 'Australia, Emerald': 'Australia',
 "Australia, G'Day mate": 'Australia',
 'Australia, Geelong': 'Australia',
 'Australia, Hell': 'Australia',
 'Australia, In a house': 'Australia',
 'Australia, Mars.': 'Australia',
 'Australia, Melbourn': 'Australia',
 'Australia, Melbourne': 'Australia',
 'Australia, Melbourne.': 'Australia',
 'Australia, N.S.W, Taree': 'Australia',
 'Australia, NSW': 'Australia',
 'Australia, NSW, Newcastle': 'Australia',
 'Australia, NSW, Singleton': 'Australia',
 'Australia, NSW, Sydney': 'Australia',
 'Australia, New South Whales.': 'Australia',
 'Australia, Newcastle': 'Australia',
 'Australia, Perth': 'Australia',
 'Australia, QLD': 'Australia',
 'Australia, QLD, Brisbane': 'Australia',
 'Australia, Queensland': 'Australia',
 'Australia, Queensland, Gold Coast': 'Australia',
 'Australia, Sydney': 'Australia',
 'Australia, VIctoria, Melbourne': 'Australia',
 'Australia, Vic': 'Australia',
 'Australia, Victoria': 'Australia',
 'Australia, Victoria, Melbourne, Springvale': 'Australia',
 'Australia, Victoria, Mildura': 'Australia',
 'Australia, WA, Perth': 'Australia',
 'Australia, Wellington': 'Australia',
 'Australia, land of all things deadly.': 'Australia',
 'Australia, melbourne': 'Australia',
 'Australia,Brisbne': 'Australia',
 'Australia,Melbourne': 'Australia',
 'Australia,NSW': 'Australia',
 'Australia,NSW,Sydney': 'Australia',
 'Australia,Sydney': 'Australia',
 'Australia,Victoria': 'Australia',
 'Australia-But who needs to know?': 'Australia',
 'Australia-Qld': 'Australia',
 'Australia.': 'Australia',
 'Australia. Why would you want to know anyway?': 'Australia',
 'Australia/Krypton/Destiny Islands': 'Australia',
 'Australia/Queensland': 'Australia',
 'Australia?': 'Australia',
 'Australiaa': 'Australia',
 'Australian, Sydney': 'Australia',
 'Australia~': 'Australia',
 'Australiiarh': 'Australia',
 'Awesometown, Australia': 'Australia',
 'AœÖ—ï—Ç ÄŒ± üŒπŒ±, P·¥á Ä·¥õ ú': 'Australia',
 'Backwater, Australia': 'Australia',
 'Ballarat, Victoria, Australia': 'Australia',
 'Ballarat,Victoria': 'Australia',
 'Bankstown, NSW': 'Australia',
 'Bankstown, Sydney': 'Australia',
 'Bankstown, Sydney, Australia': 'Australia',
 'Barden RIdge': 'Australia',
 'Barooga, Australia': 'Australia',
 'Bathurst, Australia': 'Australia',
 'Belmont, NSW, Australia': 'Australia',
 'Bendigo, Australia': 'Australia',
 'Bendigo, Victoria, Australia': 'Australia',
 'Bermagui, New South Wales, Australia': 'Australia',
 'Berwick, Victoria': 'Australia',
 'Black Chaos': 'Australia',
 'Black Hole': 'Australia',

In [6]:
users["country"] = users["location"].map(dict_ltc_clean)
users

/tmp/ipykernel_7956/2562388302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users["country"] = users["location"].map(dict_ltc_clean)

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes,country
0,karthiga,2255153,3,49,1,0,0,55.31,Female,"Chennai, India",1990-04-29,NaN,2013-03-03,2014-02-04 01:32:00,7.43,0.0,3391.0,India
1,RedvelvetDaisuki,1897606,61,396,39,0,206,118.07,Female,Manila,1995-01-01,NaN,2012-12-13,1900-05-13 02:47:00,6.78,80.0,7094.0,Philippines
2,Damonashu,37326,45,195,27,25,59,83.70,Male,"Detroit,Michigan",1991-08-01,NaN,2008-02-13,1900-03-24 12:48:00,6.15,6.0,4936.0,United States
3,bskai,228342,25,414,2,5,11,167.16,Male,"Nayarit, Mexico",1990-12-14,NaN,2009-08-31,2014-05-12 16:35:00,8.27,1.0,10081.0,Mexico
5,terune_uzumaki,327311,5,5,0,0,0,15.20,Female,"Malaysia, Kuantan",1998-08-24,NaN,2010-05-10,2012-10-18 19:06:00,9.70,6.0,920.0,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302658,Queenjdlols,3495411,4,123,6,4,49,22.55,Female,Head in the clouds body on the ground,NaN,NaN,2014-01-16,1900-04-29 00:19:00,6.77,3.0,1375.0,NaN
302662,TheClockworkGuy,4273353,5,77,8,12,61,48.03,Male,Yharnam,NaN,NaN,2014-11-23,1900-05-22 02:49:00,6.85,0.0,2826.0,United States
302668,ichinitan,4531649,3,24,5,0,246,8.72,NaN,"Alexandria, Virginia",2000-05-12,NaN,2015-04-01,2017-10-12 14:22:00,9.46,0.0,528.0,United States
302671,Torasori,3975907,22,239,0,4,176,86.88,Male,"Latvia, Riga",1998-11-18,NaN,2014-07-30,2018-05-24 21:34:46,8.98,47.0,5313.0,Latvia
302673,HMicca,1289601,11,73,2,2,16,119.97,Female,"Birmingham, England",1995-08-12,NaN,2012-05-05,2012-11-15 08:10:00,8.89,11.0,7049.0,United Kingdom

##¬†Cleaning countries

### Remove users with undefined country

- 156,774 users -> 136,275 users (-13%)

In [7]:
num_unique_users = users["user_id"].nunique()

# Users whose country is undefined (country is "" or is null)
num_undefined = users[users["country"].isnull() | (users["country"] == "")]["user_id"].nunique()
print("Number of users whose country is undefined: {:,} ({:.2f}%)".format(num_undefined, 100 * num_undefined / num_unique_users))

users = users[users["country"].notnull() & (users["country"] != "")]
print("Number of users whose country is defined: {:,}".format(users["user_id"].nunique()))

Number of users whose country is undefined: 20,499 (13.08%)
Number of users whose country is defined: 136,275

### Remove users with ambiguous country

- 136,275 users -> 135,917 users (-0.26%)

In [8]:
num_unique_users = users["user_id"].nunique()

# Users whose country is undefined (country is "" or is null)
num_ambiguous = users[users["country"] == "ambiguous"]["user_id"].nunique()
print("Number of users whose country is ambiguous: {:,} ({:.2f}%)".format(num_ambiguous, 100 * num_ambiguous / num_unique_users))

users = users[users["country"] != "ambiguous"]
print("Number of users whose country is defined: {:,}".format(users["user_id"].nunique()))

Number of users whose country is ambiguous: 358 (0.26%)
Number of users whose country is defined: 135,917

### Duplicate the rows of the users who are located in several countries

In [9]:
# for all the users who have a "country" column of the form "['', '']", remove the [] and ''. For instance, "['Finland', 'Sweden']" becomes "Finland, Sweden"
num_unique_users = users["user_id"].nunique()

users.loc[:, "country"] = (
    users.loc[:, "country"]
    .str.replace(r"^\[\'", "")
    .str.replace(r"\'\]$", "")
    .str.replace(r"\'\,\s\'", ", ")
)

# for the users who have a "country" column of the form "country1, country2, ..., countryn", duplicate the user n-1 times and assign the country1, country2, ..., countryn to the new users
users_multiple_countries = users[users["country"].str.contains(",")]
users_multiple_countries.loc[:, "country"] = users_multiple_countries.loc[:, "country"].str.split(", ")
users_multiple_countries = users_multiple_countries.explode("country")

# merge the results with the original dataframe
users = pd.concat(
    [users[~users["country"].str.contains(",")], users_multiple_countries], axis=0
)

# Check that the number of unique users is the same after the operation
assert users["user_id"].nunique() == num_unique_users
users

/tmp/ipykernel_7956/2748047192.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  .str.replace(r"^\[\'", "")
/tmp/ipykernel_7956/2748047192.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  .str.replace(r"\'\]$", "")
/tmp/ipykernel_7956/2748047192.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  .str.replace(r"\'\,\s\'", ", ")
/tmp/ipykernel_7956/2748047192.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users_multiple_countries.loc[:, "country"] = users_multiple_countries.loc[:, "country"].str.split(", ")

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes,country
0,karthiga,2255153,3,49,1,0,0,55.31,Female,"Chennai, India",1990-04-29,NaN,2013-03-03,2014-02-04 01:32:00,7.43,0.0,3391.0,India
1,RedvelvetDaisuki,1897606,61,396,39,0,206,118.07,Female,Manila,1995-01-01,NaN,2012-12-13,1900-05-13 02:47:00,6.78,80.0,7094.0,Philippines
2,Damonashu,37326,45,195,27,25,59,83.70,Male,"Detroit,Michigan",1991-08-01,NaN,2008-02-13,1900-03-24 12:48:00,6.15,6.0,4936.0,United States
3,bskai,228342,25,414,2,5,11,167.16,Male,"Nayarit, Mexico",1990-12-14,NaN,2009-08-31,2014-05-12 16:35:00,8.27,1.0,10081.0,Mexico
5,terune_uzumaki,327311,5,5,0,0,0,15.20,Female,"Malaysia, Kuantan",1998-08-24,NaN,2010-05-10,2012-10-18 19:06:00,9.70,6.0,920.0,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286854,AdamNyandere,4539831,11,43,7,1,25,47.37,Male,Singapore / Malaysia,1984-11-18,NaN,2015-04-05,2018-05-23 07:28:00,9.07,60.0,3967.0,Singapore
289896,Roxas_the_key,242758,4,63,19,0,2,42.19,Female,"Germany,Greece",1991-09-11,NaN,2009-10-05,2012-09-27 12:01:00,8.63,0.0,2521.0,Germany
289896,Roxas_the_key,242758,4,63,19,0,2,42.19,Female,"Germany,Greece",1991-09-11,NaN,2009-10-05,2012-09-27 12:01:00,8.63,0.0,2521.0,Greece
297997,Tachibana-chan,5078714,17,105,2,4,37,24.65,Female,India/Saudi Arabia,2004-01-25,NaN,2015-12-27,1900-05-02 03:48:00,7.32,0.0,1530.0,India
297997,Tachibana-chan,5078714,17,105,2,4,37,24.65,Female,India/Saudi Arabia,2004-01-25,NaN,2015-12-27,1900-05-02 03:48:00,7.32,0.0,1530.0,Saudi Arabia

### Remove users in Japan

- 135,917 users -> 133,795 users (-1.56%)

In [10]:
num_unique_users = users["user_id"].nunique()

# Users whose country is undefined (country is "" or is null)
num_users_japan = users[users["country"] == "Japan"]["user_id"].nunique()
print("Number of users whose country is Japan: {:,} ({:.2f}%)".format(num_users_japan, 100 * num_users_japan / num_unique_users))

users = users[users["country"] != "Japan"]
print("Number of users whose country is Japan: {:,}".format(users["user_id"].nunique()))

Number of users whose country is Japan: 2,134 (1.57%)
Number of users whose country is Japan: 133,795

##¬†Comparison with the GeoJSON data

In [11]:
import json

with open(geojson_path / "custom50_ja.json", "r") as f:
    custom50 = json.load(f)

countries_geojson = pd.DataFrame(
    [
        {
            "country": feature["properties"]["admin"],
        }
        for feature in custom50["features"]
    ]
)["country"].values

print(len(countries_geojson), "countries")
countries_geojson

241 countries

array(['Aruba', 'Antigua and Barbuda', 'Anguilla', 'Saint Barthelemy',
       'The Bahamas', 'Bermuda', 'Belize', 'Costa Rica', 'Barbados',
       'Cuba', 'Cura√ßao', 'Cayman Islands', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guatemala', 'Honduras', 'Canada',
       'Greenland', 'Haiti', 'Jamaica', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Martin', 'Nicaragua', 'Montserrat', 'Panama',
       'Puerto Rico', 'Mexico', 'Saint Pierre and Miquelon',
       'El Salvador', 'Sint Maarten', 'Turks and Caicos Islands',
       'Trinidad and Tobago', 'Saint Vincent and the Grenadines',
       'British Virgin Islands', 'United States Virgin Islands',
       'Argentina', 'Bolivia', 'United States of America', 'Colombia',
       'Brazil', 'Ecuador', 'Falkland Islands', 'Chile', 'Guyana', 'Peru',
       'Suriname', 'Uruguay', 'Paraguay', 'United Arab Emirates',
       'Venezuela', 'Afghanistan', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Bahrain', 'Brunei', 'Bhutan', 'Northern Cyprus', 'Cyprus',
       'Georgia', 'China', 'Hong Kong S.A.R.', 'Indian Ocean Territories',
       'Indonesia', 'Iran', 'India', 'Iraq', 'Israel', 'Jordan',
       'Siachen Glacier', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Cambodia',
       'South Korea', 'Kuwait', 'Laos', 'Lebanon', 'Sri Lanka',
       'Macao S.A.R', 'Mongolia', 'Malaysia', 'Myanmar', 'Nepal', 'Oman',
       'Pakistan', 'Philippines', 'North Korea', 'Palestine',
       'Saudi Arabia', 'Qatar', 'Singapore', 'Syria', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'East Timor', 'Taiwan', 'Turkey',
       'Uzbekistan', 'Vietnam', 'Yemen', 'Angola', 'Burundi', 'Benin',
       'Burkina Faso', 'Botswana', 'Central African Republic',
       'Ivory Coast', 'Cameroon', 'Republic of Congo',
       'Democratic Republic of the Congo', 'Comoros', 'Cape Verde',
       'Djibouti', 'Algeria', 'Egypt', 'Eritrea', 'Ethiopia', 'Gabon',
       'Ghana', 'Guinea', 'Gambia', 'Guinea Bissau', 'Equatorial Guinea',
       'Kenya', 'Liberia', 'Libya', 'Morocco', 'Lesotho', 'Mozambique',
       'Madagascar', 'Mali', 'Malawi', 'Mauritania', 'Namibia', 'Niger',
       'Rwanda', 'Nigeria', 'Western Sahara', 'South Sudan', 'Senegal',
       'Sudan', 'Sierra Leone', 'Somaliland', 'Somalia',
       'Sao Tome and Principe', 'Swaziland', 'Chad', 'Togo', 'Tunisia',
       'United Republic of Tanzania', 'Uganda', 'Zimbabwe',
       'South Africa', 'Zambia', 'Albania', 'Aland', 'Andorra', 'Austria',
       'Belgium', 'Bulgaria', 'Bosnia and Herzegovina', 'Switzerland',
       'Belarus', 'Czech Republic', 'Denmark', 'Germany', 'Spain',
       'Estonia', 'Faroe Islands', 'Finland', 'France', 'Guernsey',
       'United Kingdom', 'Croatia', 'Hungary', 'Greece', 'Isle of Man',
       'Ireland', 'Iceland', 'Italy', 'Jersey', 'Kosovo', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Latvia', 'Monaco', 'Moldova',
       'Macedonia', 'Malta', 'Montenegro', 'Netherlands', 'Poland',
       'Portugal', 'Romania', 'Norway', 'San Marino',
       'Republic of Serbia', 'Slovakia', 'Slovenia', 'Sweden', 'Ukraine',
       'Vatican', 'American Samoa', 'Ashmore and Cartier Islands',
       'Russia', 'Cook Islands', 'Fiji', 'Australia',
       'Federated States of Micronesia', 'Guam', 'Kiribati',
       'New Caledonia', 'Northern Mariana Islands', 'Marshall Islands',
       'Norfolk Island', 'Niue', 'Nauru', 'Palau', 'Pitcairn Islands',
       'New Zealand', 'French Polynesia', 'Solomon Islands',
       'Papua New Guinea', 'Tonga', 'Vanuatu', 'Wallis and Futuna',
       'Samoa', 'French Southern and Antarctic Lands',
       'Heard Island and McDonald Islands',
       'British Indian Ocean Territory', 'Mauritius', 'Maldives',
       'South Georgia and South Sandwich Islands', 'Saint Helena',
       'Seychelles', 'Antarctica'], dtype=object)

In [12]:
countries_db = users["country"].unique()
print(len(countries_db), "countries")
countries_db

204 countries

array(['India', 'Philippines', 'United States', 'Mexico', 'Malaysia',
       'Netherlands', 'Poland', 'Sweden', 'United Kingdom', 'Hungary',
       'Australia', 'Canada', 'Brazil', 'Austria', 'Germany', 'Iran',
       'Romania', 'Russian Federation', 'Bulgaria', 'Argentina', 'Egypt',
       'Portugal', 'Venezuela', 'France', 'Saudi Arabia', 'Ukraine',
       'Georgia', 'Indonesia', 'Vietnam', 'Montenegro', 'China', 'Israel',
       'Tunisia', 'Spain', 'Lithuania', 'Thailand', 'Belgium', 'Turkey',
       'Singapore', 'Norway', 'United Arab Emirates', 'Pakistan',
       'Puerto Rico', 'Finland', 'New Zealand', 'Italy', 'Serbia',
       'Ireland', 'Latvia', 'Croatia', 'Guatemala',
       'Bosnia and Herzegovina', 'Switzerland', 'Greece', 'Paraguay',
       'Albania', 'Chile', 'Bangladesh', 'Morocco', 'Colombia',
       'Brunei Darussalam', 'Uzbekistan', 'South Africa', 'Denmark',
       'Taiwan', 'Oman', 'El Salvador', 'Kuwait', 'Uruguay', 'Estonia',
       'Lebanon', 'Qatar', 'Maldives', 'South Korea', 'North Macedonia',
       'Slovakia', 'Czech Republic', 'Costa Rica', 'Jordan', 'Panama',
       'Canarias', 'Faroe Islands', 'Nigeria', 'Sudan', 'Algeria',
       'Belarus', 'Mauritius', 'Bolivia', 'North Korea', 'Ecuador',
       'Sri Lanka', 'Azerbaijan', 'Antigua and Barbuda', 'Slovenia',
       'Kazakhstan', 'Dominican Republic', 'Antarctica', 'Bahrain',
       'Cyprus', 'New Caledonia', 'Moldova', 'Nicaragua', 'Peru', 'Malta',
       'Barbados', 'Luxembourg', 'Yemen', 'Vatican City', 'Iraq',
       'Iceland', 'Kenya', 'Jersey', 'Jamaica', 'Syria', 'Seychelles',
       'Madagascar', 'Chad', 'Gabon', 'Mongolia', 'Libya', 'Kosovo',
       'Curacao', 'Zambia', 'Saint Kitts and Nevis', 'Cameroon',
       'Trinidad and Tobago', 'Dominica', 'Guam', 'Guernsey',
       'Burkina Faso', 'Honduras', 'Suriname', 'Greenland', 'Bahamas',
       'Angola', 'Saint Lucia', 'Nepal', 'Svalbard', 'Myanmar',
       'Kyrgyzstan', 'Palestinian Territory', 'R√©union', 'Congo DRC',
       'British Virgin Islands', 'Namibia', 'Aruba', 'Mali', 'Cambodia',
       'Haiti', 'Mozambique', 'Christmas Island', 'Fiji',
       'Papua New Guinea', 'Saint Vincent and the Grenadines', 'Tanzania',
       'Guyana', 'Bhutan', 'Armenia', 'Cabo Verde', 'US Virgin Islands',
       'Andorra', 'French Polynesia', 'Equatorial Guinea', 'Samoa',
       'Botswana', 'Ghana', 'Sierra Leone', 'Bermuda', 'Solomon Islands',
       'Belize', 'Laos', 'Isle of Man', 'Cuba', 'Grenada', 'Monaco',
       'Mauritania', 'San Marino', 'Djibouti', 'Uganda',
       'South Georgia and South Sandwich Islands', 'Eswatini', 'Zimbabwe',
       'Cayman Islands', 'Null Island', 'Saint Pierre and Miquelon',
       'Northern Mariana Islands', 'Somalia', "C√¥te d'Ivoire",
       'French Guiana', 'Togo', 'Liberia', 'Congo', 'Liechtenstein',
       'Turks and Caicos Islands', 'Guinea', 'Marshall Islands',
       'Bouvet Island', 'Anguilla', 'Pitcairn', 'Kiribati', 'Afghanistan',
       'Senegal', 'Benin', 'Comoros'], dtype=object)

###¬†Countries that are in our dataset  but not in the GeoJSON data

In [13]:
# The countries that are in countries_db but not in countries_geojson
set(countries_db) - set(countries_geojson)

{'Bahamas',
 'Bouvet Island',
 'Brunei Darussalam',
 'Cabo Verde',
 'Canarias',
 'Christmas Island',
 'Congo',
 'Congo DRC',
 'Curacao',
 "C√¥te d'Ivoire",
 'Eswatini',
 'French Guiana',
 'North Macedonia',
 'Null Island',
 'Palestinian Territory',
 'Pitcairn',
 'Russian Federation',
 'R√©union',
 'Serbia',
 'Svalbard',
 'Tanzania',
 'US Virgin Islands',
 'United States',
 'Vatican City'}

They divide in two categories:

- The countries who have an name that is inconsistent with the one in the GeoJSON data -> we need to rename them
    - "Bahamas": "The Bahamas",
    - "Brunei Darussalam": "Brunei",
    - "Cabo Verde": "Cape Verde",
    - "Congo": "Republic of Congo",
    - "Congo DRC": "Democratic Republic of the Congo",
    - "C√¥te d'Ivoire": "Ivory Coast",
    - "Curacao": "Cura√ßao",
    - "Eswatini": "Swaziland",
    - "North Macedonia": "Macedonia",
    - "Palestinian Territory": "Palestine",
    - "Pitcairn": "Pitcairn Islands",
    - "Russian Federation": "Russia",
    - "Serbia": "Republic of Serbia",
    - "Tanzania": "United Republic of Tanzania",
    - "US Virgin Islands": "United States Virgin Islands",
    - "United States": "United States of America",
    - "Vatican City": "Vatican"

- The countries that are missing in the GeoJSON data so we need to add them -> we need to find the coordinates of their boundaries and add them to the GeoJSON data
    - Christmas Island (Australia)
    - French Guiana (France)
    - R√©union (France)
    - Bouvet Island (Norway)
    - Svalbard (Norway)
    - Canarias (Spain)
    - Null Island: As this place is located in the middle of the Atlantic Ocean, we discard it from the dataset

### Rename inconsistent countries

In [14]:
db_to_geojson = {
    "Bahamas": "The Bahamas",
    "Brunei Darussalam": "Brunei",
    "Cabo Verde": "Cape Verde",
    "Congo": "Republic of Congo",
    "Congo DRC": "Democratic Republic of the Congo",
    "Curacao": "Cura√ßao",
    "C√¥te d'Ivoire": "Ivory Coast",
    "Eswatini": "Swaziland",
    "North Macedonia": "Macedonia",
    "Palestinian Territory": "Palestine",
    "Pitcairn": "Pitcairn Islands",
    "Russian Federation": "Russia",
    "Serbia": "Republic of Serbia",
    "Tanzania": "United Republic of Tanzania",
    "US Virgin Islands": "United States Virgin Islands",
    "United States": "United States of America",
    "Vatican City": "Vatican"
}

In [15]:
#¬†Map the countries in user
users["country"] = users["country"].replace(db_to_geojson)
users

/tmp/ipykernel_7956/1107068891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users["country"] = users["country"].replace(db_to_geojson)

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes,country
0,karthiga,2255153,3,49,1,0,0,55.31,Female,"Chennai, India",1990-04-29,NaN,2013-03-03,2014-02-04 01:32:00,7.43,0.0,3391.0,India
1,RedvelvetDaisuki,1897606,61,396,39,0,206,118.07,Female,Manila,1995-01-01,NaN,2012-12-13,1900-05-13 02:47:00,6.78,80.0,7094.0,Philippines
2,Damonashu,37326,45,195,27,25,59,83.70,Male,"Detroit,Michigan",1991-08-01,NaN,2008-02-13,1900-03-24 12:48:00,6.15,6.0,4936.0,United States of America
3,bskai,228342,25,414,2,5,11,167.16,Male,"Nayarit, Mexico",1990-12-14,NaN,2009-08-31,2014-05-12 16:35:00,8.27,1.0,10081.0,Mexico
5,terune_uzumaki,327311,5,5,0,0,0,15.20,Female,"Malaysia, Kuantan",1998-08-24,NaN,2010-05-10,2012-10-18 19:06:00,9.70,6.0,920.0,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286854,AdamNyandere,4539831,11,43,7,1,25,47.37,Male,Singapore / Malaysia,1984-11-18,NaN,2015-04-05,2018-05-23 07:28:00,9.07,60.0,3967.0,Singapore
289896,Roxas_the_key,242758,4,63,19,0,2,42.19,Female,"Germany,Greece",1991-09-11,NaN,2009-10-05,2012-09-27 12:01:00,8.63,0.0,2521.0,Germany
289896,Roxas_the_key,242758,4,63,19,0,2,42.19,Female,"Germany,Greece",1991-09-11,NaN,2009-10-05,2012-09-27 12:01:00,8.63,0.0,2521.0,Greece
297997,Tachibana-chan,5078714,17,105,2,4,37,24.65,Female,India/Saudi Arabia,2004-01-25,NaN,2015-12-27,1900-05-02 03:48:00,7.32,0.0,1530.0,India
297997,Tachibana-chan,5078714,17,105,2,4,37,24.65,Female,India/Saudi Arabia,2004-01-25,NaN,2015-12-27,1900-05-02 03:48:00,7.32,0.0,1530.0,Saudi Arabia

In [16]:
countries_db = users["country"].unique()
print(len(countries_db), "countries")
countries_db

204 countries

array(['India', 'Philippines', 'United States of America', 'Mexico',
       'Malaysia', 'Netherlands', 'Poland', 'Sweden', 'United Kingdom',
       'Hungary', 'Australia', 'Canada', 'Brazil', 'Austria', 'Germany',
       'Iran', 'Romania', 'Russia', 'Bulgaria', 'Argentina', 'Egypt',
       'Portugal', 'Venezuela', 'France', 'Saudi Arabia', 'Ukraine',
       'Georgia', 'Indonesia', 'Vietnam', 'Montenegro', 'China', 'Israel',
       'Tunisia', 'Spain', 'Lithuania', 'Thailand', 'Belgium', 'Turkey',
       'Singapore', 'Norway', 'United Arab Emirates', 'Pakistan',
       'Puerto Rico', 'Finland', 'New Zealand', 'Italy',
       'Republic of Serbia', 'Ireland', 'Latvia', 'Croatia', 'Guatemala',
       'Bosnia and Herzegovina', 'Switzerland', 'Greece', 'Paraguay',
       'Albania', 'Chile', 'Bangladesh', 'Morocco', 'Colombia', 'Brunei',
       'Uzbekistan', 'South Africa', 'Denmark', 'Taiwan', 'Oman',
       'El Salvador', 'Kuwait', 'Uruguay', 'Estonia', 'Lebanon', 'Qatar',
       'Maldives', 'South Korea', 'Macedonia', 'Slovakia',
       'Czech Republic', 'Costa Rica', 'Jordan', 'Panama', 'Canarias',
       'Faroe Islands', 'Nigeria', 'Sudan', 'Algeria', 'Belarus',
       'Mauritius', 'Bolivia', 'North Korea', 'Ecuador', 'Sri Lanka',
       'Azerbaijan', 'Antigua and Barbuda', 'Slovenia', 'Kazakhstan',
       'Dominican Republic', 'Antarctica', 'Bahrain', 'Cyprus',
       'New Caledonia', 'Moldova', 'Nicaragua', 'Peru', 'Malta',
       'Barbados', 'Luxembourg', 'Yemen', 'Vatican', 'Iraq', 'Iceland',
       'Kenya', 'Jersey', 'Jamaica', 'Syria', 'Seychelles', 'Madagascar',
       'Chad', 'Gabon', 'Mongolia', 'Libya', 'Kosovo', 'Cura√ßao',
       'Zambia', 'Saint Kitts and Nevis', 'Cameroon',
       'Trinidad and Tobago', 'Dominica', 'Guam', 'Guernsey',
       'Burkina Faso', 'Honduras', 'Suriname', 'Greenland', 'The Bahamas',
       'Angola', 'Saint Lucia', 'Nepal', 'Svalbard', 'Myanmar',
       'Kyrgyzstan', 'Palestine', 'R√©union',
       'Democratic Republic of the Congo', 'British Virgin Islands',
       'Namibia', 'Aruba', 'Mali', 'Cambodia', 'Haiti', 'Mozambique',
       'Christmas Island', 'Fiji', 'Papua New Guinea',
       'Saint Vincent and the Grenadines', 'United Republic of Tanzania',
       'Guyana', 'Bhutan', 'Armenia', 'Cape Verde',
       'United States Virgin Islands', 'Andorra', 'French Polynesia',
       'Equatorial Guinea', 'Samoa', 'Botswana', 'Ghana', 'Sierra Leone',
       'Bermuda', 'Solomon Islands', 'Belize', 'Laos', 'Isle of Man',
       'Cuba', 'Grenada', 'Monaco', 'Mauritania', 'San Marino',
       'Djibouti', 'Uganda', 'South Georgia and South Sandwich Islands',
       'Swaziland', 'Zimbabwe', 'Cayman Islands', 'Null Island',
       'Saint Pierre and Miquelon', 'Northern Mariana Islands', 'Somalia',
       'Ivory Coast', 'French Guiana', 'Togo', 'Liberia',
       'Republic of Congo', 'Liechtenstein', 'Turks and Caicos Islands',
       'Guinea', 'Marshall Islands', 'Bouvet Island', 'Anguilla',
       'Pitcairn Islands', 'Kiribati', 'Afghanistan', 'Senegal', 'Benin',
       'Comoros'], dtype=object)

We retrieve the countries that need separate GeoJSON data

In [17]:
countries_db_mapped = users["country"].unique()
assert len(countries_db_mapped) == len(countries_db)
# The countries that are in countries_db but not in countries_geojson
set(countries_db_mapped) - set(countries_geojson)

{'Bouvet Island',
 'Canarias',
 'Christmas Island',
 'French Guiana',
 'Null Island',
 'R√©union',
 'Svalbard'}

Save the user processed data

In [18]:
users.to_csv(map_path / "user_country.csv", index=False)

### Add missing GeoJSON data

####¬†Australia
- Christmas Island: The coordinates are stored in the "Indian Ocean Territories" feature in the GeoJSON data

In [19]:
#¬†Same as above but for Indian Ocean Territories
indian_ocean_feature_index, indian_ocean_feature = [(i, feature) for i, feature in enumerate(custom50["features"]) if feature["properties"]["admin"] == "Indian Ocean Territories"][0]
indian_ocean_geojson = indian_ocean_feature["geometry"]["coordinates"]
init_len_indian_ocean_geojson = len(indian_ocean_geojson) #¬†3

In [20]:
christmas_geojson = indian_ocean_geojson[2]
indian_ocean_geojson.pop(2)

# Add a new feature for Christmas Island
custom50["features"].append({
    "type": "Feature",
    "properties": {
        "admin": "Christmas Island",
        "sovereignt": "Australia",
        "name_sort": "Christmas Island",
        "name_ja": "„ÇØ„É™„Çπ„Éû„ÇπÂ≥∂"
    },
    "geometry": {
        "type": "Polygon",
        "coordinates": christmas_geojson
    }
})

#¬†Remove Christmas Island from Indian Ocean Territories
custom50["features"][indian_ocean_feature_index]["geometry"]["coordinates"] = indian_ocean_geojson

####¬†Norway
- Bouvet Island: We add manually the coordinates of Bouvet Island in the GeoJSON data, from [SITE](???)
- Svalbard: The coordinates are stored in the Norway feature in the GeoJSON data

In [21]:
norway_feature_index, norway_feature = [(i, feature) for i, feature in enumerate(custom50["features"]) if feature["properties"]["admin"] == "Norway"][0]
norway_geojson = norway_feature["geometry"]["coordinates"]
init_len_norway_geojson = len(norway_geojson)

In [22]:
norway_geojson, svalbard_geojson = norway_geojson[:23], norway_geojson[23:]

#¬†Add a new feature for Svalbard
custom50["features"].append({
    "type": "Feature",
    "properties": {
        "admin": "Svalbard",
        "sovereignt": "Norway",
        "name_sort": "Svalbard",
        "name_ja": "„Çπ„É¥„Ç°„Éº„É´„Éê„É´Ë´∏Â≥∂"
    },
    "geometry": {
        "type": "MultiPolygon",
        "coordinates": svalbard_geojson
    }
})

#¬†Remove Svalbard from Norway
custom50["features"][norway_feature_index]["geometry"]["coordinates"] = norway_geojson

In [23]:
bouvet_geojson = [
    [
        [
            3.3573532104492,
            -54.382956707841295
        ],
        [
            3.34911346435547,
            -54.38355652073028
        ],
        [
            3.34877014160156,
            -54.3883547082951
        ],
        [
            3.33606719970703,
            -54.39255266225887
        ],
        [
            3.30448150634766,
            -54.39515118044875
        ],
        [
            3.2862854003906,
            -54.3917530850907
        ],
        [
            3.2842254638672,
            -54.396950058174404
        ],
        [
            3.27701568603516,
            -54.40814130293444
        ],
        [
            3.2842254638672,
            -54.431712859468426
        ],
        [
            3.29246520996094,
            -54.439300814458164
        ],
        [
            3.3123779296875,
            -54.45387373222012
        ],
        [
            3.32988739013666,
            -54.456069201735104
        ],
        [
            3.35460662841797,
            -54.450879720396834
        ],
        [
            3.40919494628906,
            -54.450280891757465
        ],
        [
            3.4270477294922,
            -54.44489103986841
        ],
        [
            3.43906402587885,
            -54.42052804806503
        ],
        [
            3.43013763427734,
            -54.40374510665786
        ],
        [
            3.39443206787104,
            -54.39015388401024
        ],
        [
            3.36387634277344,
            -54.38795488075697
        ],
        [
            3.3573532104492,
            -54.382956707841295
        ]
    ]
]

#¬†Add a new feature for Bouvet Island
custom50["features"].append({
    "type": "Feature",
    "properties": {
        "admin": "Bouvet Island",
        "sovereignt": "Norway",
        "name_sort": "Bouvet Island",
        "name_ja": "„Éñ„Éº„ÉôÂ≥∂"
    },
    "geometry": {
        "type": "Polygon",
        "coordinates": bouvet_geojson
    }
})

#### France

- R√©union
- French Guiana

Both coordinates are stored in the France feature in the GeoJSON data

In [24]:
# Select the feature whose "admin" is "France"
france_feature_index, france_feature = [(i, feature) for i, feature in enumerate(custom50["features"]) if feature["properties"]["admin"] == "France"][0]
france_geojson = france_feature["geometry"]["coordinates"]
init_len_france_geojson = len(france_geojson)

In [25]:
reunion_geojson = france_geojson[0]
french_guiana_geojson = france_geojson[2]

In [26]:
#¬†Add a new feature in custom50 for Reunion
custom50["features"].append({
    "type": "Feature",
    "properties": {
        "admin": "R√©union",
        "sovereignt": "France",
        "name_sort": "R√©union",
        "name_ja": "„É¨„É¶„Éã„Ç™„É≥"
    },
    "geometry": {
        "type": "Polygon",
        "coordinates": reunion_geojson
    }
})


# Add a new feature in custom50 for French Guiana
custom50["features"].append({
    "type": "Feature",
    "properties": {
        "admin": "French Guiana",
        "sovereignt": "France",
        "name_sort": "French Guiana",
        "name_ja": "„Éï„É©„É≥„ÇπÈ†ò„ÇÆ„Ç¢„Éä"
    },
    "geometry": {
        "type": "Polygon",
        "coordinates": french_guiana_geojson
    }
})

In [27]:
# Remove the elements at index 0 and 2 of the coordinates of the France feature
france_geojson.pop(2)
france_geojson.pop(0)
custom50["features"][france_feature_index]["geometry"]["coordinates"] = france_geojson

In [28]:
#¬†Among all the arrays of coordinates present in the geojson, search for the ones whose second coordinate value is between -55 and -54

####¬†Spain

- Canarias: The coordinates are stored in the Spain feature in the GeoJSON data

In [29]:
# Get the index and the feature for Spain
spain_feature_index, spain_feature = [(i, feature) for i, feature in enumerate(custom50["features"]) if feature["properties"]["admin"] == "Spain"][0]
# spain_feature = [feature for feature in custom50["features"] if feature["properties"]["admin"] == "Spain"][0]
spain_geojson = spain_feature["geometry"]["coordinates"]
init_len_spain_geojson = len(spain_geojson)

In [30]:
canarias_geojson, spain_geojson = spain_geojson[:7], spain_geojson[7:]

#¬†Add a new feature in custom50 for Canarias
custom50["features"].append({
    "type": "Feature",
    "properties": {
        "admin": "Canarias",
        "sovereignt": "Spain",
        "name_sort": "Canarias",
        "name_ja": "„Ç´„Éä„É™„Ç¢Ë´∏Â≥∂"
    },
    "geometry": {
        "type": "MultiPolygon",
        "coordinates": canarias_geojson
    }
})

custom50["features"][spain_feature_index]["geometry"]["coordinates"] = spain_geojson

Save the processed GeoJSON data

In [31]:
with open(geojson_path / "custom50_processed.json", "w") as f:
    json.dump(custom50, f)

Tests

In [32]:
with open(geojson_path / "custom50_processed.json", "r") as f:
    custom50 = json.load(f)

In [33]:
indian_ocean_feature = [feature for feature in custom50["features"] if feature["properties"]["admin"] == "Indian Ocean Territories"][0]
indian_ocean_geojson = indian_ocean_feature["geometry"]["coordinates"]
assert len(indian_ocean_geojson) == init_len_indian_ocean_geojson - 1

In [34]:
norway_feature = [feature for feature in custom50["features"] if feature["properties"]["admin"] == "Norway"][0]
norway_geojson = norway_feature["geometry"]["coordinates"]
assert len(norway_geojson) == init_len_norway_geojson - 9

In [35]:
france_feature = [feature for feature in custom50["features"] if feature["properties"]["admin"] == "France"][0]
france_geojson = france_feature["geometry"]["coordinates"]
assert len(france_geojson) == init_len_france_geojson - 2

In [36]:
spain_feature = [feature for feature in custom50["features"] if feature["properties"]["admin"] == "Spain"][0]
spain_geojson = spain_feature["geometry"]["coordinates"]
assert len(spain_geojson) == init_len_spain_geojson - 7