%pip install dask

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path
data = Path("../data")
plot_path = data / "plots"
map_path = data / "graph3_map"
stat_path = map_path / "stats"
geojson_path = map_path / "geojson"

# Users dataset

In [13]:
users_country_aff = pd.read_csv(map_path / "users_country_aff.csv")
users_country_aff = users_country_aff[users_country_aff["country"] != "Japan"]
users_country_aff

,username,user_id,user_watching,user_completed,user_onhold,user_dropped,user_plantowatch,user_days_spent_watching,gender,location,birth_date,access_rank,join_date,last_online,stats_mean_score,stats_rewatched,stats_episodes,country,country_aff
0,karthiga,2255153,3,49,1,0,0,55.31,Female,"Chennai, India",1990-04-29,NaN,2013-03-03,2014-02-04 01:32:00,7.43,0.0,3391.0,India,India
1,K_P,6553594,32,419,15,3,122,181.52,Male,India,1998-02-06,NaN,2017-09-13,2018-05-14 22:22:07,9.05,140.0,11019.0,India,India
2,thomassimpsons,4778210,8,68,2,5,6,47.17,Male,"India,Mumbai",2000-08-16,NaN,2015-07-29,1900-04-14 06:46:00,6.63,0.0,2833.0,India,India
3,BLACK1189,6688908,2,220,2,0,4,67.40,Male,"india, kerala",1993-05-27,NaN,2017-10-29,1900-04-22 10:04:00,6.71,0.0,3998.0,India,India
4,Leon07,5037170,22,237,46,5,221,126.81,Male,Kerala,NaN,NaN,2015-12-07,1900-05-02 03:28:00,7.71,26.0,7698.0,India,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136040,prof_salt,4461555,6,240,12,6,349,81.15,Male,"Tarawa, Kiribati",1999-04-10,NaN,2015-02-09,1900-05-12 01:20:00,7.55,0.0,5080.0,Kiribati,Kiribati
136041,marijuanamoneyho,3662727,4,13,0,14,0,16.00,Male,Afghan,1930-01-01,NaN,2014-03-28,2014-07-03 14:28:00,7.03,0.0,957.0,Afghanistan,Afghanistan
136042,flora4u,224257,0,0,0,0,0,0.00,Female,dakar,1985-02-09,NaN,2009-08-22,2013-09-13 13:01:00,0.00,0.0,0.0,Senegal,Senegal
136043,kuranlover7891,303432,11,23,0,3,25,16.59,Female,"Nigeria, Benin",NaN,NaN,2010-03-11,2013-06-30 02:46:00,8.00,0.0,993.0,Benin,Benin
136044,RunningBoy,3724945,5,100,3,1,304,87.55,Male,"Comores,Franche Comté",1999-02-17,NaN,2014-04-23,2015-07-04 16:46:00,6.91,0.0,5223.0,Comoros,Comoros

# Animes dataset

In [14]:
animes = pd.read_csv(data / "AnimeList.csv")
animes

,anime_id,title,title_english,title_japanese,title_synonyms,image_url,type,source,episodes,status,...,background,premiered,broadcast,related,producer,licensor,studio,genre,opening_theme,ending_theme
0,11013,Inu x Boku SS,Inu X Boku Secret Service,妖狐×僕SS,Youko x Boku SS,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,12,Finished Airing,...,Inu x Boku SS was licensed by Sentai Filmworks...,Winter 2012,Fridays at Unknown,"{'Adaptation': [{'mal_id': 17207, 'type': 'man...","Aniplex, Square Enix, Mainichi Broadcasting Sy...",Sentai Filmworks,David Production,"Comedy, Supernatural, Romance, Shounen","['""Nirvana"" by MUCC']","['#1: ""Nirvana"" by MUCC (eps 1, 11-12)', '#2: ..."
1,2104,Seto no Hanayome,My Bride is a Mermaid,瀬戸の花嫁,The Inland Sea Bride,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,26,Finished Airing,...,NaN,Spring 2007,Unknown,"{'Adaptation': [{'mal_id': 759, 'type': 'manga...","TV Tokyo, AIC, Square Enix, Sotsu",Funimation,Gonzo,"Comedy, Parody, Romance, School, Shounen","['""Romantic summer"" by SUN&LUNAR']","['#1: ""Ashita e no Hikari (明日への光)"" by Asuka Hi..."
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,しゅごキャラ！！どきっ,"Shugo Chara Ninenme, Shugo Chara! Second Year",https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,51,Finished Airing,...,NaN,Fall 2008,Unknown,"{'Adaptation': [{'mal_id': 101, 'type': 'manga...","TV Tokyo, Sotsu",NaN,Satelight,"Comedy, Magic, School, Shoujo","['#1: ""Minna no Tamago (みんなのたまご)"" by Shugo Cha...","['#1: ""Rottara Rottara (ロッタラ ロッタラ)"" by Buono! ..."
3,721,Princess Tutu,Princess Tutu,プリンセスチュチュ,NaN,https://myanimelist.cdn-dena.com/images/anime/...,TV,Original,38,Finished Airing,...,Princess Tutu aired in two parts. The first pa...,Summer 2002,Fridays at Unknown,"{'Adaptation': [{'mal_id': 1581, 'type': 'mang...","Memory-Tech, GANSIS, Marvelous AQL",ADV Films,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy","['""Morning Grace"" by Ritsuko Okazaki']","['""Watashi No Ai Wa Chiisaikeredo"" by Ritsuko ..."
4,12365,Bakuman. 3rd Season,Bakuman.,バクマン。,Bakuman Season 3,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,25,Finished Airing,...,NaN,Fall 2012,Unknown,"{'Adaptation': [{'mal_id': 9711, 'type': 'mang...","NHK, Shueisha",NaN,J.C.Staff,"Comedy, Drama, Romance, Shounen","['#1: ""Moshimo no Hanashi (もしもの話)"" by nano.RIP...","['#1: ""Pride on Everyday"" by Sphere (eps 1-13)..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14473,26089,Gutchonpa Omoshiro Hanashi,NaN,グッチョンパおもしろ話,NaN,https://myanimelist.cdn-dena.com/images/anime/...,TV,Unknown,5,Finished Airing,...,NaN,Fall 1987,Unknown,"{'Other': [{'mal_id': 26087, 'type': 'anime', ...",NaN,NaN,NaN,Kids,[],[]
14474,21525,Geba Geba Shou Time!,NaN,ゲバゲバ笑タイム!,NaN,https://myanimelist.cdn-dena.com/images/anime/...,OVA,Unknown,1,Finished Airing,...,NaN,NaN,NaN,[],Studio Lotus,NaN,NaN,Comedy,[],[]
14475,37897,Godzilla: Hoshi wo Kuu Mono,NaN,GODZILLA -星を喰う者-,"Godzilla Part 3, Godzilla: Eater of Stars",https://myanimelist.cdn-dena.com/images/anime/...,Movie,Other,1,Not yet aired,...,NaN,NaN,NaN,"{'Prequel': [{'mal_id': 36816, 'type': 'anime'...",NaN,NaN,NaN,"Action, Sci-Fi, Adventure, Fantasy",[],[]
14476,34193,Nippon Mukashibanashi: Sannen Netarou,NaN,日本昔ばなし 三ねん寝太郎,NaN,https://myanimelist.cdn-dena.com/images/anime/...,OVA,Other,1,Finished Airing,...,NaN,NaN,NaN,[],NaN,NaN,NaN,"Fantasy, Kids",[],[]
14477,37908,Senjou no Valkyria Special,NaN,戦場のヴァルキュリア Valkyria Chronicles,Senjou no Valkyria Fake Movie Promo,https://myanimelist.cdn-dena.com/images/anime/...,Special,Unknown,1,Finished Airing,...,NaN,NaN,NaN,"{'Other': [{'mal_id': 5507, 'type': 'anime', '...",NaN,NaN,A-1 Pictures,Comedy,[],[]

In [15]:
# sort the animes by title (ascending) and write the anime_id and title to a csv file
animes = animes.sort_values(by=["title"], ascending=True)
animes[["anime_id", "title"]].to_csv(data / "anime_id_title.csv", index=False)

# User-Animes dataset

In [16]:
import dask.dataframe as dd

users_animes = dd.read_csv(data /
    "UserAnimeList.csv",
    dtype={
        "username": "object",
        "anime_id": "int64",
        "my_watched_episodes": "int64",
        "my_start_date": "str",
        "my_finish_date": "str",
        "my_score": "int64",
        "my_status": "int64",
        "my_rewatching": "float64",
        "my_rewatching_ep": "int64",
        "my_last_updated": "int64",
        "my_tags": "object",
    },
    usecols=[
        "username",
        "anime_id",
        "my_watched_episodes",
        "my_start_date",
        "my_finish_date",
        "my_score",
        "my_status",
        "my_rewatching",
        "my_rewatching_ep",
        "my_last_updated",
        "my_tags",
    ],
).persist()

users_animes

Dask DataFrame Structure:
               username anime_id my_watched_episodes my_start_date my_finish_date my_score my_status my_rewatching my_rewatching_ep my_last_updated my_tags
npartitions=78
                 object    int64               int64        object         object    int64     int64       float64            int64           int64  object
                    ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
...                 ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
                    ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
                    ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
Dask Name: read-csv, 1 graph layer

In [17]:
# show the first row
users_animes["username"].nunique().compute()

283044

In [18]:
users_country_aff["username"].nunique()

133794

In [19]:
# convert users to dask dataframe
users_country_aff = dd.from_pandas(users_country_aff[["username", "country", "country_aff"]], npartitions=1).persist()
users_country_aff

Dask DataFrame Structure:
              username country country_aff
npartitions=1
0               object  object      object
136044             ...     ...         ...
Dask Name: from_pandas, 1 graph layer

In [20]:
# Merge users_animes with users_country_aff
country_users_animes = users_country_aff.merge(users_animes, on="username", how="inner").persist()
country_users_animes

Dask DataFrame Structure:
               username country country_aff anime_id my_watched_episodes my_start_date my_finish_date my_score my_status my_rewatching my_rewatching_ep my_last_updated my_tags
npartitions=78
                 object  object      object    int64               int64        object         object    int64     int64       float64            int64           int64  object
                    ...     ...         ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
...                 ...     ...         ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
                    ...     ...         ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
                    ...     ...         ...      ...                 ...           ...            ...      ...       ...           ...              ...             ...     ...
Dask Name: merge_chunk, 1 graph layer

In [21]:
country_users_animes["username"].nunique().compute()

130445

country_users_animes.to_csv(map_path / "country_users_animes.csv", index=False)

# 3. TODO: Most rated animes per country

In [22]:
# Group country_users_animes by country,country_aff, then for each group add columns "anime_id" and "num_users" where num_users is the number of users who have watched anime_id
country_top_animes = country_users_animes.groupby(["country", "country_aff","anime_id"]).agg({"username": "count"}).rename(columns={"username": "num_users"}).persist()
country_top_animes

Dask DataFrame Structure:
              num_users
npartitions=1
                  int64
                    ...
Dask Name: rename, 1 graph layer

In [23]:
country_top_animes.head(10)

                              num_users
country country_aff anime_id
India   India       21              590
                    59              202
                    74              113
                    120             200
                    178              51
                    210             186
                    232             254
                    233              83
                    249             382
                    269             672

In [24]:
# "Remove" anime_id from the grouping logic, to make it so that we are grouping by country,country_aff only, and for the two columns "anime_id" and "num_users", sort them by "num_users" in descending order
country_top_animes = country_top_animes.reset_index().groupby(["country", "country_aff"]).apply(lambda x: x.sort_values(["num_users"], ascending=False)).reset_index(drop=True).persist()
country_top_animes.head(10)

/tmp/ipykernel_8597/1602041267.py:2: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  country_top_animes = country_top_animes.reset_index().groupby(["country", "country_aff"]).apply(lambda x: x.sort_values(["num_users"], ascending=False)).reset_index(drop=True).persist()

       country  country_aff  anime_id  num_users
0  Afghanistan  Afghanistan       269          1
1  Afghanistan  Afghanistan      9041          1
2  Afghanistan  Afghanistan     19815          1
3  Afghanistan  Afghanistan     18247          1
4  Afghanistan  Afghanistan     16498          1
5  Afghanistan  Afghanistan     14467          1
6  Afghanistan  Afghanistan     13601          1
7  Afghanistan  Afghanistan     12049          1
8  Afghanistan  Afghanistan     11759          1
9  Afghanistan  Afghanistan     11741          1

country_top_animes.to_csv(stat_path / "country_top_animes.csv", index=False)

In [25]:
country_top_animes = dd.read_csv(stat_path / "country_top_animes.csv/*.part").persist()

In [26]:
# For each country,country_aff, get the top 3 animes. If there are less than 3 animes, then get all of them
country_top_animes_3 = country_top_animes.groupby(["country", "country_aff"]).apply(lambda x: x.nlargest(3, "num_users")).reset_index(drop=True).persist()
country_top_animes_3

/tmp/ipykernel_8597/1023800393.py:2: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  country_top_animes_3 = country_top_animes.groupby(["country", "country_aff"]).apply(lambda x: x.nlargest(3, "num_users")).reset_index(drop=True).persist()

Dask DataFrame Structure:
              country country_aff anime_id num_users
npartitions=1
               object      object    int64     int64
                  ...         ...      ...       ...
Dask Name: reset_index, 1 graph layer

In [27]:
country_top_animes_3.to_csv(stat_path / "country_top_animes_3.csv", index=False)

['/home/julien/Documents/project-2023-vizmoica/data/graph3_map/stats/country_top_animes_3.csv/0.part']

# 4. TODO: Most rated genres per country

# 5. TODO: Most popular studios per country

We load the cleaned dataset, which duplicates the rows of animes that have multiple studios

In [28]:
animes_clean = dd.read_csv(data / "AnimeList_clean.csv").persist()

In [29]:
country_users_animes_studios = country_users_animes[["username","country","country_aff","anime_id"]].merge(animes_clean[["anime_id", "studio"]], on="anime_id", how="inner").persist()
country_users_animes_studios

Dask DataFrame Structure:
               username country country_aff anime_id  studio
npartitions=78
                 object  object      object    int64  object
                    ...     ...         ...      ...     ...
...                 ...     ...         ...      ...     ...
                    ...     ...         ...      ...     ...
                    ...     ...         ...      ...     ...
Dask Name: merge_chunk, 1 graph layer

In [30]:
country_users_animes_studios["username"].nunique().compute()

130417

In [31]:
country_top_studios = country_users_animes_studios.groupby(["country", "country_aff","studio"]).agg({"username": "count"}).rename(columns={"username": "num_ratings"}).persist()
country_top_studios

Dask DataFrame Structure:
              num_ratings
npartitions=1
                    int64
                      ...
Dask Name: rename, 1 graph layer

In [32]:
country_top_studios.head(10)

                                              num_ratings
country        country_aff    studio
India          India          Toei Animation        12285
Philippines    Philippines    Toei Animation        26754
United States  United States  Toei Animation       343699
Mexico         Mexico         Toei Animation        22043
Malaysia       Malaysia       Toei Animation         8384
Netherlands    Netherlands    Toei Animation        36199
Poland         Poland         Toei Animation       106421
Sweden         Sweden         Toei Animation        26858
Finland        Finland        Toei Animation        21639
United Kingdom United Kingdom Toei Animation        73612

In [33]:
# "Remove" anime_id from the grouping logic, to make it so that we are grouping by country,country_aff only, and for the two columns "anime_id" and "num_users", sort them by "num_users" in descending order
country_top_studios = country_top_studios.reset_index().groupby(["country", "country_aff"]).apply(lambda x: x.sort_values(["num_ratings"], ascending=False)).reset_index(drop=True).persist()
country_top_studios.head(10)

/tmp/ipykernel_8597/3827042422.py:2: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  country_top_studios = country_top_studios.reset_index().groupby(["country", "country_aff"]).apply(lambda x: x.sort_values(["num_ratings"], ascending=False)).reset_index(drop=True).persist()

       country  country_aff          studio  num_ratings
0  Afghanistan  Afghanistan   Studio Gallop            4
1  Afghanistan  Afghanistan        Madhouse            3
2  Afghanistan  Afghanistan    A-1 Pictures            3
3  Afghanistan  Afghanistan        ufotable            2
4  Afghanistan  Afghanistan            8bit            2
5  Afghanistan  Afghanistan           Bones            2
6  Afghanistan  Afghanistan         Sunrise            2
7  Afghanistan  Afghanistan  Production I.G            2
8  Afghanistan  Afghanistan  Studio Pierrot            2
9  Afghanistan  Afghanistan       Satelight            2

In [34]:
country_top_studios.to_csv(stat_path / "country_top_studios.csv", index=False)

['/home/julien/Documents/project-2023-vizmoica/data/graph3_map/stats/country_top_studios.csv/0.part']

# 6. Reviews in each country

In [ ]:
country_users_animes[(country_users_animes["country"] == "France") 
                     & (country_users_animes["anime_id"] == 1535) 
                     & (country_users_animes["my_tags"].notnull())].compute()

,username,country,country_aff,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
434285,Elyasis,France,France,1535,20,0000-00-00,0000-00-00,7,4,NaN,0,1445193740,"Mystery, Police, Psychological, Supernatural, ..."
449029,Sinope_K,France,France,1535,11,2015-11-01,0000-00-00,0,1,0.0,0,1459627501,(<2009)
451467,Myou-Myou,France,France,1535,37,2011-06-30,2011-07-03,8,2,0.0,0,1317745450,last arc is meh
454601,Mayuri-Nyan,France,France,1535,37,0000-00-00,0000-00-00,10,2,NaN,0,1328812789,10
455122,Yamichan,France,France,1535,37,0000-00-00,0000-00-00,8,2,0.0,0,1437060882,"Psychological, Supernatural, Thriller"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337641,Levitacus,France,France,1535,37,0000-00-00,0000-00-00,7,2,0.0,0,1477449618,Mid 7
331882,EternalPhoenix,France,France,1535,37,0000-00-00,0000-00-00,7,2,0.0,0,1325506271,15.5/20
333213,KloWh,France,France,1535,37,0000-00-00,0000-00-00,7,2,NaN,0,1379520124,Stop after the 1 st arc
335689,Anjolras,France,France,1535,37,0000-00-00,0000-00-00,10,2,0.0,0,1357126510,Thrilling story with suspens
338132,Steinstwo,France,France,1535,37,0000-00-00,0000-00-00,7,2,NaN,0,1412710908,"Mystery, Supernatural, Police, Psychological, ..."

In [50]:
country_users_animes[(country_users_animes["country"] == "Brazil") 
                     & (country_users_animes["anime_id"] == 1535) 
                     & (country_users_animes["my_tags"].notnull())]["my_tags"].compute()

316539    Esse anime no começo não botei muita fé,mas qu...
317872    se não fosse essa parte final broxante, eu ter...
318110                                         L DEAD YEAH!
320316                                     shounen, mystery
335467    Até é bem inteligente, mas o anime perde a gra...
                                ...
267909    Mystery, Supernatural, Police, Psychological, ...
269784    Uma das primeiras obras que eu assisti, me apa...
273418    Muito bom! Premissa genial, com uma execução f...
261377                                           Perfeição.
267146                        Kira &gt; L. (não me julguem)
Name: my_tags, Length: 712, dtype: object

In [53]:
country_users_animes[(country_users_animes["country"] == "Iran")
                     & (country_users_animes["anime_id"] == 1535) 
                     & (country_users_animes["my_tags"].notnull())]["my_tags"].compute()

359279                       death note,death god,shinigami
350170    Mystery, Psychological thriller, Supernatural ...
347334                                           =|ED&PS|x1
347703                                           Death Note
287889                   legend of the galactic heroes lite
Name: my_tags, dtype: object